* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  --scale: 1;
  --movedY: 0px;
}

.ListContainer {
  width: min(500px, 90%);
  height: 560px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  transform: scaleX(var(--scale))
    translateY(calc(var(--translateY) + var(--movedY)));
  transition: transform 500ms ease;
}

.Dragging {
  --scale: 1.05;
  transition: none;
  box-shadow: 0.5rem 0.25rem 2rem rgba(0, 0, 0, 0.65);
  z-index: 10;
}
